.row
    .one.fifth
    .three.fifths
        .asphalt.box.fadeIn.animated
            %h2 About
            %p Esta aplicación permite chatear con mas gente conectada a nuestro chat. <br> El nickname debe ser único para cada usuario.


    .one.fifth
