.container
    .asphalt.box.fadeInLeft.animated
        .row
            .four.fifths
                #chat{:style => "max-width:100%; max-height:200px;overflow-y:scroll;"}
            .one.fifth
                #users{:style => "max-width:100%; max-height:200px;overflow-y:scroll;"}
        .row.double-padded
            .five.seventh
                %input#text
            .one.seventh
                %button.blue.double-gap-left#send Send
            .one.seventh
                %a.red.button.double-gap-left{:href => "/logout/index"} Logout
