.row
    .one.fifth
    .three.fifths
        .asphalt.box.fadeIn.animated
            %h2 Ayuda
            %p Para mas ayuda mandar un mensaje a:  <a class ="icon-male" href ="sokartema@gmail.com" > sokartema@gmail.com </a>


    .one.fifth
