.row#intro
    -if(@error == "error")
        %p.message.dismissible.error El usuario ya existe o la contraseña es incorrecta
    .one.fifth
    .three.fifths
        .asphalt.box.fadeInLeft.animated
            %h2 Bienvenidos al chat de SYTW
            .row
                .one.third
                    %label{:for => "nickname"} Nickname
                    %input{:id => "nickname", :type => "text"}
                    %label{:for => "password"} Password
                    %input{:id => "password", :type => "password"}
                .one.third
                .one.third
                    %i.icon-spinner.icon-spin.icon-4x
            .row.double-pad-top
                %button.button.green.round{:id => "entrar"} Entrar
                %button.button.red.round{:id => "anonimo"} Anonimo
                %a.button.charcoal.round{:href => "/registro", :id => "registro"} Registrarse
    .one.fifth
